<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}">
<head>
  <meta charset="UTF-8">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <title>Board-View</title>

  <script th:src="@{../static/js/board.js}"></script>

</head>
<body>
<div layout:fragment="content">

    <div class="container" id="test">

      <h1 class="text-center">Bulletin Board!</h1>
      <br>
      <hr class="boardviewhr1">

        <div class="omb_login">
            <h2 style="margin-left: 18%; margin-bottom: 30px;" th:text="${boardDto.title}"></h2>
            <div style="width: 66%; margin-left: 17%; background-color: #F3F0F0">
            <div class="col-xs-12 col-sm-6" style="width: 57%;">

                <div class="form-group" style="float: left;">
                    <label style="font-size: 16px; margin-left: 10px;">작성자
                        <span th:text="${boardDto.name}" style="margin: 0 7px 0 10px;"></span>
                    </label>
                </div>

                <div class="form-group" style="float: left;">
                    <label style="font-size: 16px; margin-left: 10px;">작성일
                        <span th:text="${#temporals.format(boardDto.createDate, 'yy-MM-dd')}" style="margin: 0 0 0 10px;"></span>
                    </label>
                </div>

                <div class="form-group">
                    <label style="font-size: 16px; margin-left: 10px;">조회수
                        <span th:text="${boardDto.count}" style="margin-left: 10px;"></span>
                    </label>
                </div>

            </div>
            </div>
        </div>

        <div class="contentsdiv">
            <p class="boardviewtabletd5" th:utext="${boardDto.contents}"></p>
        </div>

      <div style="margin-top: 20px; text-align: right; width: 83%;">

          <a th:href="@{/board}" class="btn btn-light boardviewbtn">
            목록
          </a>

          <a th:onclick="if(!(confirm('게시글을 수정하시겠습니까?'))) return false" th:if="${session.loginuser.no == boardDto.no}" th:href="@{'/boardmodify/' + ${boardDto.id}}" class="btn btn-light boardviewbtn">
            수정
          </a>

          <a th:onclick="if(!(confirm('정말 삭제하시겠습니까?'))) return false" th:if="${session.loginuser.no == boardDto.no}" th:href="@{/boarddelete(id=${boardDto.id})}" class="btn btn-light boardviewbtn">
            삭제
          </a>

      </div>

      <hr class="boardviewhr2">

        <!-- 댓글 입력 폼 -->
        <form method="post" th:action="@{/replywrite}">

            <!-- 게시물 번호, 댓글 작성자, 댓글 수정 / 삭제 식별용 회원 NO 같이 넘기기 -->
            <input type="hidden" id="boardid" name="boardid" th:value="${boardDto.id}">
            <input type="hidden" name="rcount" th:value="${boardDto.rcount}">
            <input type="hidden" name="name" th:value="${session.loginuser.name}">
            <input type="hidden" name="no" th:value="${session.loginuser.no}">

            <div class="card mb-2" style="width: 66%; margin: 0 auto;">
                <div class="card-header bg-light">
                    <i class="fa fa-comment fa"></i> REPLY
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <textarea class="form-control" name="replycontents" id="exampleFormControlTextarea1" rows="3"></textarea>
                            <button type="submit" class="btn btn-dark mt-3" onClick="javascript:addReply();">POST REPLY</button>
                        </li>
                    </ul>
                </div>
            </div>
        </form>

        <!-- 댓글 출력 창 -->
        <div class="card mt-2 allreply" name="allreply" th:id="'allreply'+${replyDto.id}" th:each="replyDto, num : ${replyDto}" style="width: 66%; margin: 0 auto;">

            <input type="hidden" id="replyid" th:value="${replyDto.id}">
            <input type="hidden" id="replyid2" th:value="${num.index}">

            <div class="card-header p-2" id="replyinfo">

                <table>

                    <tbody>
                        <tr class="align-middle">
                            <td class="m1" th:text="${replyDto.name}"> <!--이름--></td>
                        </tr>

                        <tr>
                            <td><!--날짜-->
                                <font size="2" th:text="${#temporals.format(replyDto.createDate, 'yy-MM-dd HH:mm:ss')}"></font>
                            </td>
                        </tr>
                    </tbody>

                </table>

            </div>

            <div class="card-body" id="reply_div" name="reply_div">
                <!-- 댓글내용 -->
                <p class="card-text" id="reply_con" name="reply_con" th:utext="${replyDto.replycontents}" style="text-align: left;"></p>
                <!-- 수정, 삭제 버튼 -->
                <span th:if="${session.loginuser.no == replyDto.no}" id="reply_span" class="badge badge-dark" style="cursor: pointer; color: black; padding: 0;">
                    <a id="reply_modify" th:onclick="replymodify([[${num.index}]])" style="margin-right: 15px;">수정</a>
                    <a type="button" id="rm_btn" th:onclick="reply_delete(id=[[${replyDto.id}]], boardid=[[${replyDto.boardid}]], [[${num.index}]])">삭제</a>
                </span>

            </div>

            <div class="card-body" id="modify_div" name="modify_div" style="display: none;">

                <textarea class="form-control" name="replycontents" id="modify_text" rows="3"></textarea>
                <span th:if="${session.loginuser.no == replyDto.no}" id="modify_span" class="badge badge-dark" style="cursor: pointer; color: black; padding: 0;">
                        <a id="modify_commit" th:onclick="modifyComplete([[${replyDto.id}]])" style="margin-right: 15px;">수정완료</a>
                        <a id="modify_back" th:onclick="showReplyForm(false, [[${num.index}]])">취소</a>
                </span>

            </div>

        </div>

    </div>
</div>
<br><br><br>

</body>
</html>