.boardviewbtn {
    border-radius: 15px;
    padding: 7px 13px;
}

.boardviewtable{
    width: 66%;
    margin-left: 17%;
    background-color: #f9f9f9;
    padding: 9px;
}

.contentsdiv{
    width: 66%;
    margin: 0 auto;
}

.boardviewtabletd5{
    word-break: break-all;
    text-align: left;
}

.boardviewhr1{
    width: 66%;
    margin:0 auto;
    margin-bottom: 20px;
}

.boardviewhr2{
    width: 66%;
    margin:0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
