<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="header :: header_h">
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
<div th:replace="header :: header"></div>
<div class="container">

  <h1 class="text-center">Bulletin Board!</h1>
  <br>
  <hr class="boardviewhr1">

    <h2 style="margin-left: 17%; margin-bottom: 30px;" th:text="${boardDto.title}"></h2>

    <div class="boardviewtable">

          <span style="margin:5px 10px 5px 0;">작성자</span>
          <span th:text="${boardDto.name}"></span>

          <span style="margin:5px 10px 5px 60px;">작성일</span>
          <span th:text="${#temporals.format(boardDto.createDate, 'yyyy-MM-dd')}"></span>

          <span style="margin:5px 10px 5px 60px;">조회수</span>
          <span th:text="${boardDto.count}"></span>

    </div>

    <div class="contentsdiv">
        <p class="boardviewtabletd5" th:utext="${boardDto.contents}"></p>
    </div>

  <div style="margin-top: 20px; text-align: right; width: 83%;">

      <a th:href="@{/board}" class="btn btn-light boardviewbtn">
        목록
      </a>

      <a th:onclick="if(!(confirm('게시글을 수정하시겠습니까?'))) return false" th:if="${session.loginuser.no == boardDto.no}" th:href="@{'/boardmodify/' + ${boardDto.id}}" class="btn btn-light boardviewbtn">
        수정
      </a>

      <a th:onclick="if(!(confirm('정말 삭제하시겠습니까?'))) return false" th:if="${session.loginuser.no == boardDto.no}" th:href="@{'/boarddelete/' + ${boardDto.id}}" class="btn btn-light boardviewbtn">
        삭제
      </a>

  </div>

  <hr class="boardviewhr2">

</div>

<br><br><br>

<div th:replace="footer :: footer"></div>
</body>
</html>