<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="header :: header_h">
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
<div th:replace="header :: header"></div>

<div class="container">

  <h1 class="text-center">Bulletin Board!</h1>
  <br>
  <hr>

  <table class="table table-hover table-striped">

    <tr class="thead-strong">
      <th style="text-align: center;">번호</th>
      <th style="text-align: center;">제목</th>
      <th style="text-align: center;">작성자</th>
      <th style="text-align: center;">작성일</th>
      <th style="text-align: center;">조회수</th>
    </tr>

  </table>
  <hr>
  <button type="button" class="btn btn-light" style="border-radius: 15px; padding: 7px 13px; float: right;">등록</button>

  <!-- 페이징 처리 -->
  <div id="pag" style="text-align:center;">
    <!--시작페이지 , 끝페이지 설정-->
    <!-- 타임리프 변수 정의 : th:with= -->
    <!-- 첫페이지번호 :  ( 현재페이지/10 ) * 10 + 1 -->
    <!-- 0/10  * 10 + 1 -> 1 -->
    <!-- 13/10 * 10 + 1 => 11 -->
    <ul class="pagination justify-content-center">
      <!-- 첫페이지이동 -->
      <li class="page-item">
        <a class="page-link" th:href="@{/postlist(page=1)}"> << </a>
      </li>
      <!-- 이전페이지이동 -->
      <li class="page-item"> <!-- 첫번페이지에서 이전페이지이동 표시 x -->
        <a class="page-link"> < </a>
      </li>
      <!-- 페이지번호 -->
      <li class="page-item">
        <a class="page-link">1</a>
      </li>
      <!-- 다음페이지이동 -->
      <li class="page-item">
        <a class="page-link"> > </a>
      </li>
      <!-- 마지막페이지 이동 -->
      <li class="page-item">
        <a class="page-link"> >> </a>
      </li>

    </ul>

  </div>

  <div class="row-fluid" style="text-align:center;">
  <form>

    <select class="form-select" style="width:12%; display:inline-block;">
      <option value="id">게시물번호</option>
      <option value="title">제목</option>
      <option value="contents">내용</option>
      <option value="name">작성자</option>
    </select>

    <input type="text" class="form-control" placeholder="Search" style="width: 25%; display:inline-block;">
    <button type="submit" class="btn btn-default" style="padding: 16px 20px;">Search</button>

  </form>
  </div>

</div>

<br><br><br>

<div th:replace="footer :: footer"></div>
</body>
</html>