<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="header :: header_h">
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
<div th:replace="header :: header"></div>

<div class="container">

  <h1 class="text-center">Bulletin Board!</h1>
  <br>
  <hr>

  <table class="table table-hover table-striped" style="text-align:center;">

    <tr>
      <th>번호</th>
      <th>제목</th>
      <th>작성자</th>
      <th>작성일</th>
      <th>조회수</th>
    </tr>

    <tr th:each="boardDtos : ${boardDtos}">

      <td th:text="${boardDtos.id}"></td>

      <td th:if="${boardDtos.rcount == 0}"> <!-- 댓글이 없는경우  Title만 출력 -->
        <a th:href="@{/boardview(no=${boardDtos.no}, id=${boardDtos.id},count=${boardDtos.count})}">
          <span th:text="${boardDtos.title}"></span>
        </a>
      </td>

      <td th:if="${boardDtos.rcount != 0}"> <!-- 댓글이 하나 이상일 경우 Title[댓글개수] 출력 -->
        <a th:href="@{/boardview(no=${boardDtos.no}, id=${boardDtos.id},count=${boardDtos.count})}">
          <span th:text="|${boardDtos.title}[&nbsp;${boardDtos.rcount}&nbsp;]|"></span>
        </a>
      </td>

      <td th:text="${boardDtos.name}"></td>

      <td th:text="${#temporals.format(boardDtos.createDate, 'yy-MM-dd')}"></td>

      <td th:text="${boardDtos.count}"></td>

    </tr>

  </table>
  <hr>
  <a th:if="${session.loginuser != null}" th:href="@{/boardwrite}" class="btn btn-light" style="border-radius: 15px; padding: 7px 13px; float: right;">등록</a>
  <div th:if="${session.loginuser == null}" style="text-align:center; color:red; margin-bottom:10px;">로그인 후 등록 가능합니다.</div>

  <!-- 페이징 처리 -->
  <div th:if="${session.se == null}" id="pag" style="text-align:center;">
    <!--시작페이지 , 끝페이지 설정-->
      <!-- 타임리프 변수 정의 : th:with= -->
        <!-- 첫페이지번호 :  ( 현재페이지/10 ) * 10 + 1 -->
          <!-- 0/10  * 10 + 1 -> 1 -->
          <!-- 13/10 * 10 + 1 => 11 -->

    <ul class="pagination justify-content-center"
        th:with="start=${T(Math).floor(boardDtos.number/10) * 10 + 1},
          last=(${start + 9 < boardDtos.totalPages ? start + 9 : boardDtos.totalPages})">

      <!-- 첫페이지이동 -->
      <li class="page-item">
        <a class="page-link" th:href="@{/board(page=1)}"> << </a>
      </li>

      <!-- 이전페이지이동 -->
      <li class="page-item" th:class="${boardDtos.first} ? 'disabled'"> <!-- 첫번페이지에서 이전페이지이동 표시 x -->
        <a class="page-link" th:href="${boardDtos.first} ? '#' : @{/board(page = ${boardDtos.number})}"> < </a>
      </li>

      <!-- 페이지번호 -->
      <li class="page-item" th:each="page : ${#numbers.sequence(start, last)}">
        <a class="page-link" th:href="@{/board(page = ${page})}" th:text="${page}"></a>
      </li>

      <!-- 다음페이지이동 -->
      <li class="page-item" th:class="${boardDtos.last} ? 'disabled'"> <!-- 첫번째 페이지에서 다음페이지 이동 표시 x -->
        <a class="page-link" th:href="${boardDtos.last} ? '#' : @{/board(page = ${boardDtos.number + 2})}"> > </a>
      </li>

      <!-- 마지막페이지 이동 -->
      <li class="page-item">
        <a class="page-link" th:href="@{/board(page = ${boardDtos.totalPages})}"> >> </a>
      </li>

    </ul>

  </div>

  <div class="row-fluid" style="text-align:center;">
  <form method="post" action="/boardsearch">

    <select class="form-select" name="keyword" style="width:100px; display:inline-block;">
      <option value="id">번호</option>
      <option value="title">제목</option>
      <option value="contents">내용</option>
      <option value="name">작성자</option>
    </select>

    <input type="text" class="form-control" name="search" placeholder="Search" style="width: 25%; display:inline-block;">
    <button type="submit" class="btn btn-default" style="padding: 0 0 5px 5px;">Search</button>

  </form>
  </div>

</div>

<br><br><br>

<div th:replace="footer :: footer"></div>
</body>
</html>