<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="header :: header_h">
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
<div th:replace="header :: header"></div>
<div class="container">

  <h1 class="text-center">Bulletin Board!</h1>
  <br>
  <hr class="boardviewhr1">

    <!--<h2 style="margin-left: 17%; margin-bottom: 30px;" th:text="${boardDto.title}"></h2>

    <table class="table" style="width: 66%; margin: 0 auto;">

        <tr>
            <th style="text-align:left;">작성자</th><td style="text-align:left;"><span th:text="${boardDto.name}"></span></td>
            <th style="text-align:left;">작성일</th><td style="text-align:left;"><span th:text="${#temporals.format(boardDto.createDate, 'yy-MM-dd')}"></span></td>
            <th style="text-align:left;">조회수</th><td style="text-align:left;"><span th:text="${boardDto.count}"></span></td>
        </th>
        </tr>

    </table>-->

    <div class="omb_login">
        <h2 style="margin-left: 17%; margin-bottom: 30px;" th:text="${boardDto.title}"></h2>
        <div style="width: 66%; margin-left: 17%; background-color: #F3F0F0">
        <div class="col-xs-12 col-sm-6" style="width: 57%;">

            <div class="form-group" style="float: left;">
                <label style="font-size: 16px;">작성자<span th:text="${boardDto.name}" style="margin: 0 13px 0 10px;"></span></label>
            </div>

            <div class="form-group" style="float: left;">
                <label style="font-size: 16px;">작성일<span th:text="${#temporals.format(boardDto.createDate, 'yy-MM-dd')}" style="margin: 0 13px 0 10px;"></span></label>
            </div>

            <div class="form-group">
                <label style="font-size: 16px;">조회수<span th:text="${boardDto.count}" style="margin-left: 10px;"></span></label>
            </div>

        </div>
        </div>
    </div>

    <div class="contentsdiv">
        <p class="boardviewtabletd5" th:utext="${boardDto.contents}"></p>
    </div>

  <div style="margin-top: 20px; text-align: right; width: 83%;">

      <a th:href="@{/board}" class="btn btn-light boardviewbtn">
        목록
      </a>

      <a th:onclick="if(!(confirm('게시글을 수정하시겠습니까?'))) return false" th:if="${session.loginuser.no == boardDto.no}" th:href="@{'/boardmodify/' + ${boardDto.id}}" class="btn btn-light boardviewbtn">
        수정
      </a>

      <a th:onclick="if(!(confirm('정말 삭제하시겠습니까?'))) return false" th:if="${session.loginuser.no == boardDto.no}" th:href="@{'/boarddelete/' + ${boardDto.id}}" class="btn btn-light boardviewbtn">
        삭제
      </a>

  </div>

  <hr class="boardviewhr2">

</div>

<br><br><br>

<div th:replace="footer :: footer"></div>
</body>
</html>