<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="header :: header_h">
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
<div th:replace="header :: header"></div>

<div class="container">

  <div class="row" style="--bs-gutter-x: 1rem;">

    <div class="col-sm-6 col-md-4 p-2">
      <div class="card">
        <img th:src="@{../static/images/naver_login.png}" style="width: 270px; margin: 10px auto;">
        <div class="card-body">
          <h4 class="card-title">1주차</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">More</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 p-2">
      <div class="card">
        <img th:src="@{../static/images/naver_login.png}" style="width: 270px; margin: 10px auto;">
        <div class="card-body">
          <h4 class="card-title">2주차</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">More</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 p-2">
      <div class="card">
        <img th:src="@{../static/images/naver_login.png}" style="width: 270px; margin: 10px auto;">
        <div class="card-body">
          <h4 class="card-title">3주차</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">More</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 p-2">
      <div class="card">
        <img th:src="@{../static/images/naver_login.png}" style="width: 270px; margin: 10px auto;">
        <div class="card-body">
          <h4 class="card-title">4주차</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">More</a>
        </div>
      </div>
    </div>

  </div>

</div>
<div th:replace="footer :: footer"></div>
</body>
</html>