<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="header :: header_h">
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
<div th:replace="header :: header"></div>

<div class="container">

  <table class="table table-responsive" style="text-align: center;">

    <tr>
      <th>이미지</th>
      <th>도서명</th>
      <th>대여금액</th>
      <th>비고</th>
    </tr>

    <tr th:each="list : ${session.list}">

      <td>
        <img th:src="@{/static/bookimages/} + ${list.images}" style="height: 80px;">
      </td>

      <td th:text="${list.name}" style="vertical-align: middle;"></td>

      <td th:text="${list.money}" style="vertical-align: middle;"></td>

      <td style="vertical-align: middle;">
        <a th:href="@{/cartdelete/{id}(id = ${list.id})}">삭제</a>
      </td>

    </tr>


  </table>

</div>
<div th:replace="footer :: footer"></div>
</body>
</html>