<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="header :: header_h">
  <meta charset="UTF-8">
  <title>Find-ID</title>
</head>
<body th:fragment="findmenu">

<ul class="list-inline text-center">

  <li class="list-inline-item" style="border: solid 1px lightgray; padding: 10px; border-radius: 35px;">
    <a th:href="@{/findid}">아이디 찾기</a>
  </li>

  <li class="list-inline-item" style="border: solid 1px lightgray; padding: 10px; border-radius: 35px;">
    <a th:href="@{/findpw}">비밀번호 찾기</a>
  </li>

</ul>

</body>
</html>