<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="header :: header_h">
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
<div th:replace="header :: header"></div>

<div class="container">

  <div class="row" style="margin: 25px 0;">

    <div class="col-xs-6 col-md-6" style="padding: 0; padding-top: 15px;">
      <h1>RENTAL</h1>
    </div>

    <div class="col-xs-6 col-md-6" style="padding: 0; padding-top: 24px; text-align: right;">
      <span>장바구니</span>&nbsp;&nbsp;>&nbsp;&nbsp;
      <span><b>주문서 작성</b></span>&nbsp;&nbsp;>&nbsp;&nbsp;
      <span>주문완료</span>
    </div>

  </div>

  <hr style="height: 2px; background-color: black; border-radius: 10px; margin-bottom: 40px;">

  <span>주문상품<span th:text="|(${number})|"></span></span>

  <form method="post" action="/rental">

    <table class="table table-responsive" style="margin-top: 30px;">

      <tr>
        <th style="width: 700px; padding: 8px 0;">상품정보</th>
        <th style="text-align: center; padding: 8px 0;">판매금액</th>
      </tr>

      <tr th:each="list : ${session.list}">

        <td>

          <div style="float: left; padding: 20px;">
            <img th:src="@{/static/bookimages/} + ${list.images}" style="height: 80px;">
          </div>

          <div style="display: inline-block; padding: 15px;">
            <span th:text="${list.name}" style="font-size: 15px;"></span><br>

            <span th:text="${list.author}" style="font-size: 15px; color: #A6A1A1"></span>
            <span id="a1" style="font-size: 15px; color: #A6A1A1" th:text="${list.genre}"></span><br>

            <span th:text="${list.publisher}" style="font-size: 15px; color: #A6A1A1"></span>
          </div>

        </td>

        <td th:text="|${#numbers.formatInteger(list.money, 3, 'COMMA')} 원|" style="vertical-align: middle; text-align: center;"></td>

      </tr>

    </table>

    <div style="background-color: #F6F6F6; text-align: center; padding: 20px 0; margin: 30px 0;">

      <span>주문상품 금액 : <b th:text="|${#numbers.formatInteger(total, 3, 'COMMA')} 원|"></b></span>

      <b style="margin: 0 15px">&#43;</b> <!-- + -->

      <span>총 할인금액 : <b>0원</b></span>

      <b style="margin: 0 15px">&#61;</b> <!-- = -->

      <span><b th:text="|${#numbers.formatInteger(total, 3, 'COMMA')} 원|"></b></span>

    </div>

    <div class="row" style="margin: 25px 0;">

      <div class="col-xs-6 col-md-9" style="padding: 0; border-top: solid 3px; border-bottom: solid 3px;">

        <input type="hidden" name="no" th:value="${rentalDto.no}">

        <div class="form-group" style="margin: 35px 0 20px 0;"><b>주문고객정보</b></div>

        <div class="btn-group" role="group">
          <input type="radio" name="radio-Btn-Group" class="btn-check" id="radioBtn1">
          <label class="btn btn-outline-danger" for="radioBtn1">Click Me</label>

          <input type="radio" name="radio-Btn-Group" class="btn-check" id="radioBtn2">
          <label class="btn btn-outline-danger" for="radioBtn2">Click Me</label>

          <input type="radio" name="radio-Btn-Group" class="btn-check" id="radioBtn3">
          <label class="btn btn-outline-danger" for="radioBtn3">Click Me</label>
        </div>

        <!--<div class="form-group" style="margin: 35px 0 15px 0;"><label>주문고객&nbsp;<span style="color: red;">*</span>&nbsp;</label></div>-->

        <div class="input-group" style="margin-bottom: 30px;">
          <label style="padding-top: 5px;">주문고객&nbsp;<span style="color: red;">*</span>&nbsp;</label>

            <input style="border: none; margin-left: 50px; border-bottom: solid 1px #E2E1E1;"
                   type="text" name="name" class="form-control" placeholder="Name" th:value="${rentalDto.name}">

        </div>


        <!--<div class="form-group" style="margin: 35px 0 15px 0;"><label>휴대폰&nbsp;<span style="color: red;">*</span>&nbsp;</label></div>-->

        <div class="input-group" style="margin-bottom: 30px;">
          <label style="padding-top: 5px;">휴대폰&nbsp;<span style="color: red;">*</span>&nbsp;</label>

            <input style="border: none; margin-left: 68px; border-bottom: solid 1px #E2E1E1; text-align: center;"
                   type="text" name="phone1" class="form-control" placeholder="010" th:value="${rentalDto.phone1}" maxlength="3"> -

            <input style="border: none; border-bottom: solid 1px #E2E1E1; text-align: center;"
                   type="text" name="phone2" class="form-control" th:value="${rentalDto.phone2}" maxlength="4"> -

            <input style="border: none; border-bottom: solid 1px #E2E1E1; text-align: center;"
                   type="text" name="phone3" class="form-control" th:value="${rentalDto.phone3}" maxlength="4">

        </div>


        <!--<div class="form-group" style="margin: 35px 0 15px 0;"><label>이메일&nbsp;<span style="color: red;">*</span>&nbsp;</label></div>-->

        <div class="input-group" style="margin-bottom: 30px;">

          <div class="input-group mb-2 mr-sm-2">

            <label style="padding-top: 5px;">이메일&nbsp;<span style="color: red;">*</span>&nbsp;</label>

            <input style="height:35px; border: none; border-bottom: solid 1px #E2E1E1; margin-left: 68px; font-size: 1rem;"
                   type="text" name="email1" th:value="${rentalDto.email1}">

            <div class="input-group-prepend" style="margin-left: 3px;">
              <div class="input-group-text"
                   style="border-top-left-radius: 5px; border-bottom-left-radius: 5px; height: 35px;">
                @
              </div>
            </div>

            <select class="selectpicker" name="email2"
                    style="width:160px; display:inline-block; height:35px; font-size:13px;
                          border: 1px solid #ced4da; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">

              <option value="">선택해주세요</option>
              <option value="naver.com" th:selected="${rentalDto.email2}=='naver.com'">naver.com</option>
              <option value="kakao.com" th:selected="${rentalDto.email2}=='kakao.com'">kakao.com</option>
              <option value="google.com" th:selected="${rentalDto.email2}=='google.com'">google.com</option>

            </select>

          </div>

        </div>


        <!--<div class="form-group" style="margin: 35px 0 15px 0;"><label>주소&nbsp;<span style="color: red;">*</span>&nbsp;</label></div>-->
        <div class="form-group" style="margin-bottom: 60px;">
          <label>주소&nbsp;<span style="color: red;">*</span>&nbsp;</label>
          <input type="text" id="sample4_postcode" placeholder="우편번호" name="address1" th:value="${rentalDto.address1}">
          <input type="text" id="sample4_roadAddress" placeholder="도로명주소" name="address2" style="width: 200px;" th:value="${rentalDto.address2}">
          <input type="text" id="sample4_jibunAddress" placeholder="지번주소" name="address3" style="width: 180px;" th:value="${rentalDto.address3}">
          <input type="text" id="sample4_detailAddress" placeholder="상세주소" name="address4"  style="width: 245px;" th:value="${rentalDto.address4}">
          <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
          <span id="guide" style="color:#999;display:none"></span>
          <input type="hidden" id="sample4_extraAddress" placeholder="참고항목">
        </div>

      </div>

      <div class="col-xs-6 col-md-3" style="padding: 0; padding-left: 15px;">

        <div style="border: solid 1px gray;">

          <div style="padding: 0 20px;">
            <p style="font-size: 30px; margin: 25px 0;">결제정보</p>
          </div>


          <div style="display: flex; justify-content: space-between; padding: 0 20px;">

            <div>
              <span style="font-size: 15px;">주문상품금액</span>
            </div>

            <div>
              <span th:text="|${#numbers.formatInteger(total, 3, 'COMMA')} 원|" style="font-size: 15px;"></span>
            </div>

          </div>


          <div style="display: flex; justify-content: space-between; padding: 0 20px;">

            <div style="margin: 15px 0;">
              <span style="font-size: 15px;">총 프로모션 할인금액</span>
            </div>

            <div style="margin: 15px 0;">
              <span style="font-size: 15px;">- 0원</span>
            </div>

          </div>

          <div style="display: flex; justify-content: space-between; padding: 0 20px;">

            <div>
              <span style="font-size: 15px;">총 쿠폰 할인금액</span>
            </div>

            <div>
              <span style="font-size: 15px;">- 0원</span>
            </div>

          </div>

            <hr style="margin: 25px 20px;">

          <div style="text-align: right; padding: 0 20px;">
            <p style="margin: 0; font-size: 15px;">총 결제예정금액</p>
            <span th:text="|${#numbers.formatInteger(total, 3, 'COMMA')} |" style="color: red; font-size: 30px;"></span>
              <span style="font-size: 30px;">원</span>
          </div>

          <div style="background-color: #F1F0F0; padding: 20px 10px; margin-top: 15px;">
            <p style="margin: 0; font-size: 17px;">주문동의</p>
            <span style="font-size: 12px; color: lightslategray;">
              주문할 상품의 상품명, 상품가격정보를 확인하였으며, 구매에 동의하시겠습니까?<br>(전자상거래법 제8조 2항)<br>
              주문자 변심의 경우 기간내에 교환/반납이 불가능 하다는 내용을 확인하였으며 이에 동의합니다.
            </span>

            <div class="custom-control custom-checkbox" style="text-align: center;">
              <label class="custom-control-label">
                <input class="custom-control-input" type="checkbox">
                <span style="font-size: 15px; vertical-align: text-bottom;">동의합니다.</span>
              </label>
            </div>

          </div>

        </div>

      </div>

    </div>

  </form>

</div>

<div th:replace="footer :: footer"></div>
</body>
</html>