<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="header :: header_h">
  <meta charset="UTF-8">
  <title>Sign Up</title>
</head>
<body>
<div th:replace="header :: header"></div>

<div class="container" style="margin-top:90px;">

  <div class="omb_login">

  <h3 class="omb_authTitle">Sign Up</h3>

  <div class="row omb_row-sm-offset-3 omb_socialButtons">
  </div>

  <div class="row omb_row-sm-offset-3 omb_loginOr">
    <div class="col-xs-12 col-sm-6">
      <hr class="omb_hrOr">
      <span class="omb_spanOr"></span>
    </div>
  </div>

    <div id="div1">
    <form>

      <table style="border: solid 1px #E0DEDE; width:500px;">

        <tr>
          <th>아이디</th>
          <td>
            <input type="text" class="form-control" style="width:190px; display:inline-block; height:25px;">&nbsp;&nbsp;&nbsp;
            <input type="button" value="중복체크">
          </td>
        </tr>

        <tr>
          <th>비밀번호</th>
          <td>
            <input type="password" class="form-control" style="width:190px; display:inline-block; height:25px;">
          </td>
        </tr>

        <tr>
          <th>비밀번호 확인</th>
          <td>
            <input type="password" class="form-control" style="width:190px; display:inline-block; height:25px;">
          </td>
        </tr>

        <tr>
          <th>이름</th>
          <td>
            <input type="text" class="form-control" style="width:190px; display:inline-block; height:25px;">
          </td>
        </tr>

        <tr>
          <th>성별</th>
          <td>
            <input type="radio" class="custom-control-input"><label class="custom-control-label">남자</label>
            <input type="radio" class="custom-control-input"><label class="custom-control-label">여자</label>
          </td>
        </tr>

        <tr>
          <th>생년월일</th>
          <td>
            <input type="date" class="form-control" style="width:190px; display:inline-block; height:25px;">
          </td>
        </tr>

        <tr>
          <th>휴대폰 번호</th>
          <td>
            <input type="text" class="form-control" style="width:55px; display:inline-block; height:25px;"> -
            <input type="text" class="form-control" style="width:65px; display:inline-block; height:25px;"> -
            <input type="text" class="form-control" style="width:65px; display:inline-block; height:25px;">
          </td>
        </tr>

        <tr>
          <th>이메일</th>
          <td>
            <input type="text" class="form-control" style="width:100px; display:inline-block; height:25px;">&nbsp;@&nbsp;
            <select class="form-select" style="width:160px; display:inline-block; height:35px; font-size:13px;">
              <option>선택해주세요</option>
              <option>naver.com</option>
              <option>kakao.com</option>
              <option>google.com</option>
            </select>
          </td>
        </tr>

        <tr>
          <th>주소</th>
          <td>

            <input type="text" id="sample4_postcode" placeholder="우편번호" name="address1">
            <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
            <input type="text" id="sample4_roadAddress" placeholder="도로명주소" name="address2">
            <input type="text" id="sample4_jibunAddress" placeholder="지번주소" name="address3">
            <span id="guide" style="color:#999;display:none"></span>
            <input type="text" id="sample4_detailAddress" placeholder="상세주소" name="address4">
            <input type="text" id="sample4_extraAddress" placeholder="참고항목">

          </td>
        </tr>

      </table>

      <div id="div2">
        <button type="button" class="btn btn-light" style="border-radius: 15px; padding: 12px 17px;">완료</button>
        <button type="button" class="btn btn-light" style="border-radius: 15px; padding: 12px 17px;">취소</button>
      </div>

    </form>
    </div>

    <div class="row omb_row-sm-offset-3 omb_loginOr">
      <div class="col-xs-12 col-sm-6">
        <hr class="omb_hrOr">
        <span class="omb_spanOr"></span>
      </div>
    </div>

  </div>

</div>
<br><br>

<div th:replace="footer :: footer"></div>
</body>
</html>